{% extends '::base.html.twig' %}

{% block title %}Parents{% endblock %}

{% block body %}
    <div class="container">

    {% include('teamACrudBundle:Default:Sub/Header.html.twig') %}

    {% include('teamACrudBundle:Default:Sub/Slider.html.twig') %}




        </div>