<div class="row greyColor">
    <div class="container">
        <div class="span2">
            <br>
            <ul class="whiteFont" style="list-style:none">
                <li>ICT & You</li>
                <li>Courses</li>
                <li>Careers</li>
                <li>Post Resume</li>
                <li>Internships</li>
                <li>Jobs</li>
            </ul>
        </div>

        <div class="span2">
            <br>
            <ul class="whiteFont" style="list-style:none">
                <li>Videos</li>
                <li>E Books</li>
                <li>News & Events</li>
                <li>Interview Tips</li>
            </ul>
        </div>

        <div class="span3">
            <br>
            <ul class="whiteFont" style="list-style:none">
                <li>About us</li>
                <li>Contact us</li>
                <li>FAQ</li>
                <li>Site Map</li>
                <li>Feedback</li>
            </ul></div>



        <div class="span5">
            <br><br>
            <input type="text" placeholder="Subscribe"><br>
            <input type="button" value="Subscribe" class="btn btn-warning">
        </div>
    </div>
</div>


<footer>
    <p style="text-align:center;">&copy; Company 2013</p>
</footer>