<div class="masthead">
    <div class="span6"><img src="{{asset('bundles/teamacrud/images/logo.png')}}" alt="Logo"></div>
    <br><br><br><br>
    <div class="offset8"><form class="form-search">
            <input type="text" class="input-medium search-query">
            <button type="submit" class="btn">Search</button>
        </form></div>
    <div class="offset9"></div>
    <div class="navbar">
        <div class="navbar-inner">
            <div class="container">
                <ul class="nav">
                    <li class="active"><a href="{{ path('test_page') }}">Home</a></li>
                    <li><a href="{{ path('parents_page') }}"> Students</a></li>
                    <li><a href="#">Parents</a></li>
                    <li><a href="#">Teachers</a></li>
                    <li><a href="#">Career Advisor</a></li>
                    <li><a href="#">About Us</a></li>
                </ul>
            </div>
        </div>
    </div><!-- /.navbar -->
</div>