<div id="wrapper">

    <div class="slider-wrapper theme-default">
        <div id="slider" class="nivoSlider">
            <img src="{{asset('bundles/teamacrud/images/toystory.jpg')}}" data-thumb="images/toystory.jpg" alt="" usemap="#Map"/>
            <img src="{{asset('bundles/teamacrud/images/walle.jpg')}}" data-thumb="images/walle.jpg" alt="" data-transition="slideInLeft" />
            <img src="{{asset('bundles/teamacrud/images/nemo.jpg')}}" data-thumb="images/nemo.jpg" alt="" title="#htmlcaption" />
        </div>

    </div>

</div>