<ul id="tabs" class="nav nav-tabs" data-tabs="tabs" style="background-color:#006699">
    <li class="active"><a href="#red" data-toggle="tab">Courses</a></li>
    <li><a href="#yellow" data-toggle="tab">Internships</a></li>
    <li><a href="#green" data-toggle="tab">Jobs</a></li>


</ul>
<div id="my-tab-content" class="tab-content">
    <div class="tab-pane active" id="red">

        <br><br> <br><br>
        <form name="form1">
            <img src="{{asset('bundles/teamacrud/images/wording.png')}}" alt="Wording">
            <div class="span11">

                <div class="span3 whiteFont">Industry
                    <select>
                        <option value="volvo">Arts</option>
                        <option value="saab">Design</option>
                        <option value="mercedes">Education</option>
                        <option value="audi">Engneering</option>
                        <option value="mercedes">Health</option>
                        <option value="audi">Information Technology</option>
                        <option value="mercedes">Marketing</option>
                        <option value="audi">Travel</option>
                    </select>
                </div>


                <div class="span3 whiteFont">Category
                    <input type="text"></div>

                <div class="span3 whiteFont">location
                    <input type="text"></div>

                <div class="span2 whiteFont">Duration
                    <input type="text"></div>

            </div>


            <div class="span10">
                <br>
                <div class="span2"><input type="button" value="Submit" class="btn btn-inverse"></div>
            </div>
        </form>

    </div>

    <div class="tab-pane" id="orange">
        <h1>Orange</h1>
        <p>orange orange orange orange orange</p>
    </div>

    <div class="tab-pane" id="yellow">

        <br><br> <br><br>
        <form name="form1">
            <img src="{{asset('bundles/teamacrud/images/wording2.png')}}" alt="Wording">
            <div class="span10">

                <div class="span3 whiteFont">Industry
                    <select>
                        <option value="volvo">Arts</option>
                        <option value="saab">Design</option>
                        <option value="mercedes">Education</option>
                        <option value="audi">Engneering</option>
                        <option value="mercedes">Health</option>
                        <option value="audi">Information Technology</option>
                        <option value="mercedes">Marketing</option>
                        <option value="audi">Travel</option>
                    </select>
                </div>


                <div class="span3 whiteFont">Duration<br>
                    <input type="text"></div>

                <div class="span3 whiteFont">Post Date
                    <input type="text"></div>

                <div class="span3 whiteFont">Location
                    <input type="text"></div>

                <div class="span3 whiteFont">Remuneration
                    <input type="text"></div>




            </div>


            <div class="span10">
                <br>
                <div class="span2"><input type="button" value="Submit" class="btn btn-inverse"></div>
            </div>
        </form>
    </div>

    <div class="tab-pane" id="green">

        <br><br> <br><br>
        <form name="form1">
            <img src="{{asset('bundles/teamacrud/images/wording3.png')}}" alt="Wording">
            <div class="span10">

                <div class="span3 whiteFont">Industry
                    <select>
                        <option value="volvo">Arts</option>
                        <option value="saab">Design</option>
                        <option value="mercedes">Education</option>
                        <option value="audi">Engneering</option>
                        <option value="mercedes">Health</option>
                        <option value="audi">Information Technology</option>
                        <option value="mercedes">Marketing</option>
                        <option value="audi">Travel</option>
                    </select>
                </div>


                <div class="span3 whiteFont">Designation
                    <input type="text"></div>

                <div class="span3 whiteFont">Post Date
                    <input type="text"></div>

                <div class="span3 whiteFont">Location
                    <input type="text"></div>

                <div class="span3 whiteFont">Salary Scale
                    <input type="text"></div>




            </div>


            <div class="span10">
                <br>
                <div class="span2"><input type="button" value="Submit" class="btn btn-inverse"></div>
            </div>
        </form>
    </div>

    <div class="tab-pane" id="blue">
        <h1>Blue</h1>
        <p>blue blue blue blue blue</p>
    </div>
</div>
